body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4FD0F;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2557B6;
    padding: 1rem;
    position: relative;
}

.nav-logo {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    left: 1rem;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1rem;
    position: relative;
}

.nav-link, .navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
    display: block;
}

.nav-link:hover, .navbar a:hover {
    background-color: #3949ab;
    border-radius: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #204DA2;
    list-style: none;
    padding: 0;
    min-width: 10rem;
    border-radius: 5px;
}

.dropdown-item a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-item a:hover {
    background-color: #2567E6;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        margin: 0.5rem 0;
    }
}

.header {
    background-color: #1a237e;
    color: white;
    padding: 20px;
    text-align: center;
}

.header img {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.club-name {
    font-size: 2em;
    margin: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tab-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 20px;
}

.tab-links a {
    color: #1a237e;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

.tab-links a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.club-info h2 {
    color: #1a237e;
    margin-bottom: 15px;
}

.club-info, .contact-info p {
    line-height: 1.6;
    margin: 5px 0;
}

.footer {
    background-color: #2557B6;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
